<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Quản lý phim</title>
    <link rel="stylesheet" type="text/css" href="/css/style-movie.css" />
  </head>
  <body>
    <h1>Quản lý phim</h1>
    <div id="movie-list">
      <h2>Danh sách phim</h2>
      <ul>
        {{#each movies}}
        <li>
          <span class="movie-title">{{this.title}}</span>
          <button class="delete-movie" data-id="{{this._id}}">Xóa</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <div id="add-movie">
      <h2>Thêm phim mới</h2>
      <form action="/movies" method="POST">
        <div>
          <label for="title">Tên phim:</label>
          <input type="text" name="title" />
        </div>
        <div>
          <label for="director">Đạo diễn:</label>
          <input type="text" name="director" />
        </div>
        <div>
          <label for="year">Năm sản xuất:</label>
          <input type="text" name="year" />
        </div>
        <button type="submit">Thêm phim</button>
      </form>
    </div>
    <script src="/js/movies.js"></script>
  </body>
</html>
