/* Thiết lập cho phần form đăng nhập */
form {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Thiết lập cho các input và label trong form */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Thiết lập cho nút đăng nhập */
button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Thiết lập cho đường link đăng ký */
a {
  display: block;
  margin-top: 20px;
}
/* CSS cho trang hiển thị danh sách phim */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.add-movie-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-movie-form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-movie-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.add-movie-form input[type="text"], .add-movie-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-movie-form button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
